@import url('./lists_and_indents.css');

p.pblort {
  height: 100px;
}

#editorcontainerbox {
  overflow: auto;
  top: 40px;
  position: static;
  background-color: #05d3fc;
}
#padcontent {
  font-size: 12px;
  padding: 10px;
  margin: 20px auto;
  width: 650px !important;
  padding: 100px;
  min-height: 60em;
  background-color: #ffffff;
}
#timeslider-wrapper {
  left: 0;
  position: relative;
  right: 0;
  top: 0;
}
#timeslider-left {
  background-color: #f7f7f7;
  height: 63px;
  left: 0;
  position: absolute;
  width: 134px;
}
#timeslider-right {
  background-color: #f7f7f7;
  height: 63px;
  position: absolute;
  right: 0;
  top: 0;
  width: 155px;
}
#timeslider {
  height: 30px;
  margin: 0 9px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #f7f7f7;
  /* bgcolor is reuqired so you can't see pad content behind it */
}
#timeslider #timeslider-slider {
  height: 30px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 100%;
}
#ui-slider-handle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #fff;
  border: #666 solid 1px;
  height: 20px;
  width: 22px !important;
  text-align: center;
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  padding: 0 1px;
  line-height: 24px;
  color: #666;
  border-radius: 2px;
  top: 3px;
}
#ui-slider-handle:before {
    content: "🢐🢒";
    font-size: 30px;
}
#ui-slider-bar {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 30px;
  margin-left: 5px;
  margin-right: 150px;
  position: relative;
  top: 0px;
}

#playpause_button,
#playpause_button_icon {
  font-family: fontawesome-etherpad;
/*  line-height:18px; */
  text-align:center;
  height:20px;
  color:#666;
  position: absolute;
  width: 22px;
  text-align:center;
  vertical-align:middle;
  background: #ffffff;
  border: none;
  top: 3px;
}
#playpause_button {
  right: 64px;
  border-radius:2px;
  border: #666 solid 1px;
  background: background-linear-gradient( #F7F7F7, #F1F1F1 80%) repeat scroll 0 0 transparent;
}
#playpause_button_icon:before {
  line-height:18px;
  padding-left:2px;
  font-family: fontawesome-etherpad;
  content: "\e82c";
  color:#666;
}

#playpause_button_icon {
  left: 0;
  top: 0;
}
.pause:before {
  line-height:18px;
  padding-left:2px;
  font-family: fontawesome-etherpad;
  content: "\e82e" !important;
  color:#666;
  padding-left:0 !important;
}
#leftstar,
#rightstar,
#leftstep,
#rightstep {
  background-color: white;
  overflow: hidden;
  position: absolute;
  top: 3px;
}

.stepper{
  font-family: fontawesome-etherpad;
  border-radius:2px;
  border: #666 solid 1px;
/*  line-height:18px; */
  text-align:center;
  height:22px;
  color:#666;
}

stepper:active{
  color:#000;
}

#leftstep {
  right: 38px;
  width: 25px;
}
#leftstep:before{
  content: '\e821';
  vertical-align:middle;
}
#rightstep:before{
  content: "\e822";
  vertical-align:middle;
}

#rightstep {
  right: 12px;
  width: 25px;
}
.star:before{
  font-family: fontawesome-etherpad;
  content: "\e835";
  vertical-align:middle;
  font-size:16px;
}
#timeslider .star {
  cursor: pointer;
  height: 16px;
  position: absolute;
  top: 5px;
  left: 1163px !important;
  width: 15px;
}
#timeslider #timer {
  display: none;
  background: transparent;
  font-family: Arial, sans-serif;
  font-size: 11px;
  left: -4px;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 122px;
  z-index: 9999;
}
.topbarcenter,
#docbar {
  display: none
}
#padmain {
  top: 0px !important;
  background-color: #05d3fc;
}
#editbar{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.editbarright {
  float: right;
  text-align: right;
  height: 30px !important;
}
.toolbar ul{
  position:relative;
  float:right;
  height:30px;
}
#import_export, #settings{
  top: 84px;
  position: fixed;
}
#import_export .popup {
  width: 183px;
  border-top: none;
  border-right: none;
  border-radius: 0 0 0 6px;
}
#import_export {
  width: 185px;
}
.timeslider-bar {
  background: #f7f7f7;
  overflow: hidden;
  padding-top: 3px;
  width: 100%;
}
.timeslider-bar #editbar {
  border-bottom: none;
  float: right;
  width: auto;
}
.timeslider-bar h1 {
  margin: 5px
}
.timeslider-bar p {
  margin: 5px
}
#timeslider-top {
  width: 100%;
  position: fixed;
  z-index: 1;
}
#authorsList .author {
  padding-left: 0.4em;
  padding-right: 0.4em;
}
#authorsList .author-anonymous {
  padding-left: 0.6em;
  padding-right: 0.6em;
}
#padeditor {
  position: static
}

button{
  margin:0;
  padding:0;
  cursor:pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

button:focus{
  border: 1px solid #666;
}
